/* blink */
@-webkit-keyframes hand {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hand {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* blink2 */
@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* move */
@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
}

/* bounce */
@-webkit-keyframes bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* typing */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* fadeIn */
@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: scale(0) translate3d(100px, -200px, -100px);
            transform: scale(0) translate3d(100px, -200px, -100px);
  }
  to {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0);
  }
}
@keyframes fadeIn {
  from {
    -webkit-transform: scale(0) translate3d(100px, -200px, -100px);
            transform: scale(0) translate3d(100px, -200px, -100px);
  }
  to {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0);
  }
}

/* swell */
@-webkit-keyframes swell {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-800px, -25px, 0);
            transform: translate3d(-800px, -25px, 0);
  }
  100% {
    -webkit-transform: translate3d(-1600px, 0, 0);
            transform: translate3d(-1600px, 0, 0);
  }
}
@keyframes swell {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-800px, -25px, 0);
            transform: translate3d(-800px, -25px, 0);
  }
  100% {
    -webkit-transform: translate3d(-1600px, 0, 0);
            transform: translate3d(-1600px, 0, 0);
  }
}

/* swell2 */
@-webkit-keyframes swell2 {
  0% {
    -webkit-transform: translate3d(-1600px, 0, 0);
            transform: translate3d(-1600px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-800px, 25px, 0);
            transform: translate3d(-800px, 25px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes swell2 {
  0% {
    -webkit-transform: translate3d(-1600px, 0, 0);
            transform: translate3d(-1600px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-800px, 25px, 0);
            transform: translate3d(-800px, 25px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

/* opacity_key */
@-webkit-keyframes opacity_key {
  0%, 100% {
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.9;
  }
}
@keyframes opacity_key {
  0%, 100% {
    opacity: 1;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.9;
  }
}

/* stamp */
@-webkit-keyframes stamp {
  0% {
    opacity: 0;
    -webkit-transform: scale(8);
            transform: scale(8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes stamp {
  0% {
    opacity: 0;
    -webkit-transform: scale(8);
            transform: scale(8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* heartbeat */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* rotate */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
            transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.8);
            transform: rotate(180deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.8);
            transform: rotate(360deg) scale(0.8);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
            transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.8);
            transform: rotate(180deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.8);
            transform: rotate(360deg) scale(0.8);
  }
}

/* from_top */
@-webkit-keyframes from_top {
  0% {
    -webkit-transform: translate(0, -200px);
            transform: translate(0, -200px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes from_top {
  0% {
    -webkit-transform: translate(0, -200px);
            transform: translate(0, -200px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

/* from_left */
@-webkit-keyframes from_left {
  0% {
    -webkit-transform: translate(-200px, 0);
            transform: translate(-200px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes from_left {
  0% {
    -webkit-transform: translate(-200px, 0);
            transform: translate(-200px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

/* from_right */
@-webkit-keyframes from_right {
  0% {
    -webkit-transform: translate(200px, 0);
            transform: translate(200px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes from_right {
  0% {
    -webkit-transform: translate(200px, 0);
            transform: translate(200px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

/* icon_jelly */
@-webkit-keyframes icon_jelly {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes icon_jelly {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* skew */
@-webkit-keyframes skew {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: skewX(0.39062deg) skewY(0.39062deg);
    transform: skewX(0.39062deg) skewY(0.39062deg);
  }
  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg);
  }
}

@keyframes skew {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: skewX(0.39062deg) skewY(0.39062deg);
    transform: skewX(0.39062deg) skewY(0.39062deg);
  }
  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg);
  }
}

/* drop1anim */
@-webkit-keyframes drop1anim {
  0% {
    top: 3.25em;
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    top: -0.75em;
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

@keyframes drop1anim {
  0% {
    top: 3.25em;
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    top: -0.75em;
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

/* drop2anim */
@-webkit-keyframes drop2anim {
  0% {
    right: 3.75em;
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(90deg);
    transform: scale(0.3) rotate(90deg);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(90deg);
    transform: scale(1) rotate(90deg);
  }
  100% {
    right: -0.25em;
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(90deg);
    transform: scale(0.3) rotate(90deg);
  }
}

@keyframes drop2anim {
  0% {
    right: 3.75em;
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(90deg);
    transform: scale(0.3) rotate(90deg);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(90deg);
    transform: scale(1) rotate(90deg);
  }
  100% {
    right: -0.25em;
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(90deg);
    transform: scale(0.3) rotate(90deg);
  }
}

/* drop3anim */
@-webkit-keyframes drop3anim {
  0% {
    bottom: 3.25em;
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(180deg);
    transform: scale(0.3) rotate(180deg);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(180deg);
    transform: scale(1) rotate(180deg);
  }
  100% {
    bottom: -0.75em;
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(180deg);
    transform: scale(0.3) rotate(180deg);
  }
}

@keyframes drop3anim {
  0% {
    bottom: 3.25em;
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(180deg);
    transform: scale(0.3) rotate(180deg);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(180deg);
    transform: scale(1) rotate(180deg);
  }
  100% {
    bottom: -0.75em;
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(180deg);
    transform: scale(0.3) rotate(180deg);
  }
}

/* drop4anim */
@-webkit-keyframes drop4anim {
  0% {
    left: 3.75em;
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(-90deg);
    transform: scale(0.3) rotate(-90deg);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-90deg);
    transform: scale(1) rotate(-90deg);
  }
  100% {
    left: -0.25em;
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(-90deg);
    transform: scale(0.3) rotate(-90deg);
  }
}

@keyframes drop4anim {
  0% {
    left: 3.75em;
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(-90deg);
    transform: scale(0.3) rotate(-90deg);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-90deg);
    transform: scale(1) rotate(-90deg);
  }
  100% {
    left: -0.25em;
    opacity: 0;
    -webkit-transform: scale(0.3) rotate(-90deg);
    transform: scale(0.3) rotate(-90deg);
  }
}

/* finish_mark */
@-webkit-keyframes finish_mark {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
}
@keyframes finish_mark {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
}
/*# sourceMappingURL=keyframes_1.css.map */