@charset "UTF-8";

*{margin:0;padding:0;color:#333333;}
ul li{list-style: none;}
a{text-decoration: none;color:#333333;}

.wrap{position:relative;width:1000px;background-color:#fff;display: flex;}

.menu ul>li>a{}
.menu ul li a{width:90%;margin:0 auto;height:50px;line-height:50px;display: block;text-align: center;}